:root {
    --gray-600: #2A2A2A;
    --gray-600-rgb: 42 42 42;

    --blue-200: #3BB4CE;
    --blue-200-rgb: 59 180 206;

    --blue-300: #67E4FF99;
    --blue-300-rgb: 103 228 255;
    --blue-400: #27ACC9;
    --blue-400-rgb: 39 172 201;
}
