:root.dark {
    --bg-color-input-primary: var(--gray-600);

    /* animated avatar */
    --box-shadow-color-avatar: var(--blue-300);
    --border-color-animated-avatar: var(--blue-400);
    /* _______________ */
}

/* TODO */
:root.light {
    --bg-color-input-primary: var(--gray-600);

    /* animated avatar */
    --box-shadow-color-avatar: var(--blue-300);
    --border-color-animated-avatar: var(--blue-400);
    /* _______________ */
}
