:root.dark {
    --bg-color-input-primary: var(--gray-600);

    /* animated avatar */
    --box-shadow-color-avatar: var(--blue-300);
    --border-color-animated-avatar: var(--blue-400);
    
    /* google-auth-btn */
    --bg-color-google-sign-in: white;
    --text-color-google-sign-in: black;
}

/* TODO */
:root.light {
    --bg-color-input-primary: var(--gray-600);

    /* animated avatar */
    --box-shadow-color-avatar: var(--blue-300);
    --border-color-animated-avatar: var(--blue-400);

    /* google-auth-btn */
    --bg-color-google-sign-in: white;
    --text-color-google-sign-in: black;
}
